
.mainBlock {
    height: 100vh;
    background-color: antiquewhite;
}

.salutation {
    width: 300px;
    background-color: #e2dada;
}

.photo {
    background-color: aliceblue;
    width: 300px;
    height: 400px;
}