$textColor: #0a7379;
$textColor1:#1e1e1e;
$inputTextColor: #111111;
$bgColor: #eaeaea;
$bgColor1: #ffffff;
$bgSecondColor: #313552;
$headerAndFooterColor: #1d1c1c;
$titleFontFamilyStyle: "Roboto", sans-serif;
$descriptionFontFamilyStyle:"Roboto", sans-serif;