.footerBlock {
    background-color: #80faf9;
    min-height: 100vh;
}

.footerContainer {
    flex-direction: column;
}

.title {
    background-color: aliceblue;

}

.footer {
    margin-top: 50px;
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacts {
    display: flex;
    justify-content: space-between;
    background-color: #334452;
    width: 60px;
    height: 60px;
}

.copyright {

}
